body {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

.code {
 background-color: rgb(39, 39, 39);
 text-align: left;
}

cbody {
    color: rgb(255, 255, 255);
}

p {
    color: rgb(255, 255, 255);
}

brackets {
    color: rgb(255, 238, 0);
}

lyellow {
    color: rgb(254, 246, 140);
}

lorange {
    color: rgb(255, 178, 35)
}

turquoise {
    color: rgb(64, 224, 149)
}
type {
    color: rgb(47, 172, 254);
}

parentheses {
    color: rgb(212, 56, 255)
}

lpurple {
    color: rgb(227, 124, 255)
}

params {
    color: rgb(202, 255, 123);
}

code-instruction {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
code-instruction, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

button:hover {
    cursor: pointer;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(255, 241, 174); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 187, 0); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(182, 97, 231); 
}

.one-tab {
    margin-left: 20px;
}

.two-tab {
    margin-left: 40px;
}

.three-tab {
    margin-left: 60px;
}